<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"/>

    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/d3.css"/>

    <title>ESTIMATION OF RESPIRATORY</title>
</head>
<body>

<div class="ng-app">
    <div ng-controller="NavigationController as navigationCtrl">
        <div id="menu">
            <div class="button half" ng-class="{ active:navigationCtrl.isSelected(1) }">
                <a href ng-click="navigationCtrl.selectTab(1)">Live</a>
            </div>
            <div class="button half" ng-class="{ active:navigationCtrl.isSelected(2) }">
                <a href ng-click="navigationCtrl.selectTab(2)">Archiv</a>
            </div>
        </div>
        <div class="viewLive" ng-show="navigationCtrl.isSelected(1)" ng-swipe-left="navigationCtrl.goToArchiv()">
            <div id="data" ng-controller="DataController as dataCtrl">
                <div class="button"><a href ng-click="dataCtrl.toggle()">{{ toggleButtonText }}</a></div>
            </div>
            <div id="diagram"></div>

            <div id="counter" ng-controller="CounterController as counterCtrl">
                {{ frequencyCounter }}
                <div class="lastMinute">
                    {{ frequencyLastMinute }}
                </div>
            </div>
        </div>

        <div class="viewArchiv" ng-show="navigationCtrl.isSelected(2)" ng-swipe-right="navigationCtrl.goToLiveView()">
            <div id="archiv"><br/>
                <p>Hier könnte ein Archiv erstellt werden, in dem Messungen abgespeichert werden.</p>
                <br/><br/>
                <p style="font-size: 20px; font-weight: bold;">
                    Funktionen:
                <li>Messungen ansehen</li>
                <li>Messungen löschen</li>
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/libs/d3.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-touch.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<script type="text/javascript" src="js/controllers/counter.js"></script>
<script type="text/javascript" src="js/controllers/navigation.js"></script>
<script type="text/javascript" src="js/controllers/data.js"></script>
<script type="text/javascript" src="js/factories/diagram.js"></script>
<script type="text/javascript" src="js/factories/accelerometer.js"></script>
<script type="text/javascript" src="js/factories/filterGaussian.js"></script>
<script type="text/javascript" src="js/factories/filterMedian.js"></script>
<script type="text/javascript" src="js/factories/filterAverage.js"></script>
<script type="text/javascript" src="js/factories/frequencyCalculator.js"></script>
</body>
</html>
