html, body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */

    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Portrait layout (default) */
.app {
    height: 100%;
    width: 100%;
}

/* Landscape layout (with min-width)
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
/*margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
/* offset horizontal: half of image width and text area width */
/*}
}*/

#menu {
    width: 100%;
    height: 50px;
    float: left;
}

.button {
    background: #F52C36;
    width:100%;
    color: white;
    float: left;
    font-size: 32px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button:active {
    background: #ED535A;
}

.button a:link, .button a:visited {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    float: left;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#menu .button{
    width: 50%;
}

#menu .button:first-child {
    border-right: 1px solid #333;
}

#diagram img {
    max-width: 90%;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#data, #counter {
    width: 100%;
    background: #F52C36;
    text-align: center;
    color: white;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#counter {
    padding: 10px 0 10px 0;
    position: fixed;
    font-size: 52px;
    line-height: 52px;
    bottom: 0;
}

#data {
    border-top: 1px solid #333;
    font-size: 32px;
    line-height: 50px;
    float: left;
    text-align: center;
    height:100px;
}

#data .accelerator {
    width: 120px;
    float: left;
    text-align: left;
}

#data .accelerator {
    float: left;
    padding: 0px 10px 0px 10px;
}

#data .button{
    height:50px;
    line-height:50px;
    border-top: 1px solid #333;
}

#data .button a{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}