/**
 *  Default options for html, body and app container
 */

html, body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */

    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgba(207, 209, 208, 1);
    color: #FFCA5C;
}

#ng-app {
    height: 100%;
    width: 100%;
}

/**
 *  Menu with buttons at top
 */

#menu {
    width: 100%;
    height: 50px;
}

#menu .half {
    float:left;
    width: 50%;
}

#menu .half:first-child {
    border-right: 2px solid rgba(255, 202, 92, 0.55);
}

.button {
    background: rgba(242, 108, 108, 0.7);
    width:100%;
    float: left;
    font-size: 32px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button:active, .button.active {
    background: #F26C68;
}
.button a:link, .button a:visited {
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 202, 92, 0.55);
    color: #FFCA5C;
    width: 100%;
    height: 100%;
    float: left;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.toggleButton a:link, .toggleButton a:visited {
    text-decoration: none;
    width: 100%;
    height: 100%;
    float: left;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.toggleButton a {
    color: #FFCA5C;
}

/**
 *  Respiratory frequency counter at bottom
 */

#data, #counter {
    width: 100%;
    background: #F26C68;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    overflow: hidden;
}

#counter {
    padding: 10px 0 10px 0;
    position: fixed;
    min-height: 60px;
    height: auto;
    max-height: 90px;
    font-size: 30px;
    line-height: 40px;
    bottom: 0;
}

#counter .lastMinute {
    font-size: 21px;
    line-height: 24px;
}

/**
 * Live view - button
 */

#data {
    font-size: 32px;
    line-height: 50px;
    float: left;
    text-align: center;
    height:50px;
}

#data .accelerator {
    width: 120px;
    float: left;
    text-align: left;
}

#data .accelerator {
    float: left;
    padding: 0px 10px 0px 10px;
}

#data .button{
    height:50px;
    width: 100%;
    line-height:50px;
    /*border-top: 2px solid rgba(255, 202, 92, 0.55);*/
}

#data .button a{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Archiv Tab at top
 */

.viewArchiv {
    width: 100%;
    height: 100%;
}

#archiv {
    width: 100%;
    height: 100%;
    min-height: 500px;
    max-height: 100%;
    height: auto;
}

#archiv p {
    font-size: 24px;
    color: #F26C68;
    line-height: 50px;
    text-align: center;
    margin-bottom: -10px;
}

#archiv li{
    font-size: 20px;
    color: #F26C68;
    line-height: 40px;
    text-align: center;
}